:root{
  --primary-text-color:#757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #fff;
  --background-color:#f5f4fa;
  --footer-color:rgba(255, 255, 255, 0.6);
  --background-footer:#2f303a;
  --background-section:rgba(47, 48, 58, 0.8);
  --background-advantages: #F5F4FA;
}

/* цвет фона #FFFFFF*/
/* вторичный цвет текста #212121*/
/*основной цвет теста #757575*/
/*голубой цвет интерактивный #2196F3*/
/* футер адрес rgba(255, 255, 255, 0.6)*/
/* футер 2020 rgba(255, 255, 255, 0.4)*/


body {
background-color:var(--white-color);
color: var(--primary-text-color);
font-family: Roboto; sans-serif;
letter-spacing: 0.03em;
padding: 0;
margin: 0;
}

/*h1,
h2,
h3,
p {
margin-top: 0px;
margin-bottom: 0px;
}*/

a {
 color: inherit;
 text-decoration:none;
}
ul {
 list-style: none;
}
.list {
 list-style: none;
 padding: 0px;
 margin: 0px;
}
/*Шапка*/
.header {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.main-nav {
 display: flex;
 align-items: center;
 height: inherit;
}
.main-nav .logo {
 display: inline-block;
 padding-top: 24px;
 padding-bottom: 25px;
 margin-right: 85px;
 height: inherit;
}


.logo-web {
 color: var(--accent-color);
}

.logo {
 color: var(--title-text-color);
 font-family: Raleway; sans-serif;
 text-decoration: none;
 font-weight: 700;
 font-size: 26px;
 line-height: 1.19;
}


/*Site nav*/
.site-nav {
 display: flex;
 height: inherit;
}

.site-nav .item{
 margin-right: 50px;
 height: inherit;
}
.site-nav .item:last-child {
 margin-right: 0px;
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
}
.site-nav .link {
 display: block;
 padding-top: 32px;
 padding-bottom: 32px;
 height: inherit;
 color:var(--title-text-color);
 text-decoration: none;
}
.site-nav .link.current {
 color: var(--accent-color);
 text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
 color:var(--accent-color);
 text-decoration: none;
}

/* Auth-Nav*/

.auth-nav {
 display: flex; 
 align-items: center;
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
}

.auth-nav .item + .item{
 margin-left: 30px;
}

.auth-nav .link {
 display: block;
 padding-top: 32px;
 padding-bottom: 32px;
 color: var(--primary-text-color);
 text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}

/*Герой*/
.hero-name{
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 46px;
  margin-top: 0px;
  text-align: center;
}
/*Кнопка*/
.button-web {
background-color:var(--accent-color);
color: var(--white-color);
font-family: inherit;
font-weight: 900;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
border-radius: 4px;
padding: 10px 32px;
min-width: 200px;
height: 50px;
}

/*Наши преимушества*/
.box {
padding-top: 94px;
padding-bottom: 93px;
}
.border {
  border-bottom: 1px solid #ECECEC;
}

.advantages {
display: flex;
justify-content: space-between;
}
.advantages > .item {
margin-right: 30px;
}
.advantages > .item:last-child {
margin-right: 0px;
}
.advantages .link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: var(--background-advantages);
  border-radius: 4px;
  height: 120px;
}
.advantages .link:hover,
.advantages .link:focus {
  background: var(--accent-color);
}
.advantages h3 {
color:var(--title-text-color);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
margin-bottom: 10px;

}
.advantages p {
font-size: 14px;
line-height: 1.71;
}
.img {
display: block;
max-width: 100%;
height: auto;
}

/*Чем мы занимаемся*/
.section .name {
color:var(--title-text-color);
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
margin-bottom: 50px;
}
.work-list{
display: flex;
justify-content:space-between;
}
.work-list .link {
  display: block;
}
.work-list .item {
  margin-right: 30px;
}
.work-list .item:last-child {
margin-right: 0px;
}
.section .title {
color:var(--white-color);
background-color:var(--background-section);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
text-transform: uppercase;
padding-top: 27px;
padding-bottom: 27px;
}

/*Наша команда*/
.command {
background-color: var(--background-color);
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.command .name {
color:var(--title-text-color);
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
margin-bottom: 50px;
}
.command-list {
display: flex;
justify-content: center;
}
.command .item:not(:last-child) {
margin-right: 30px; 
}
.command .item {
background-color: var(--white-color);
border-radius: 4px;
}
.command-list .link {
  display: block;
  justify-content: center;
  align-items: center;
}

.command .title {
color: var(--title-text-color);

font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;

margin-top: 30px;
margin-bottom: 10px;
}
.command .text {
font-size: 16px;
line-height: 1.19;
text-align: center; 
margin-bottom: 28px;
}
.networks {
display: flex;
justify-content: center;
}
.networks .network-item {
margin-right: 39px;
margin-bottom: 36px;
}

.networks .network-item:hover,
.networks .network-item:focus {
   background-color: var(--accent-color)
}
.networks .network-item:last-child {
margin-right: 0px;
}

.networks img {
  display: block;  
}

/*Постоянные клиенты*/
.customers .name {
color:var(--title-text-color);
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;

margin-bottom: 50px;
}
.customers-list {
  display: flex;
  justify-content: space-between;
}
.customers-list .item {
margin-right: 30px;

}
.customers-list .item:last-child {
margin-right: 0px;
}
.customers-list .link {
display: block;
}

/*Футер*/
.blocks {
  display: flex;
}
.footer {
background: var(--background-footer);
text-decoration: none;
padding-top: 48px;
}
.footer .logo {
color: var(--white-color);
margin-bottom: 10px;
}

.adress {
color: var(--primary-text-color);
font-size: 14px;
line-height: 1.71;
font-style: normal;
  margin-right: auto;
}
.street {
  color: var(--white-color);
  margin-bottom: 9px;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
.mail {
  display: block;
  margin-bottom: 9px;
}

.tel {
  display: block;
}

.slogan .join {
color: var(--white-color);
text-transform: uppercase;
font-size: 14px;
line-height: 1.71;
margin-right: 94px;
margin-bottom: 21px;
}

.slogan .text {
color: var(--white-color);
text-transform: uppercase;
font-size: 14px;
line-height: 1.71;
margin-bottom: 21px;
}
.info-adress {
  display: block;
  margin-right: 69px;
  color: var(--footer-color);
  font-size: 12px;
  line-height: 2;
}
.footer-links {
  display: flex;
  margin-top: 21px;
}
.footer-links li {
  margin-right: 10px;
}
.footer-links li:last-child {
  margin-right: 0px;
}

.footer-links li :hover,
.footer-links li :focus {
  color: var(--accent-color);
}

.footer-links a{
  justify-content: 
}

.bottom-info {
  text-align: center;
  margin: 0px;
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;
}
.sign{
margin-top: 21px;
}
/*portfolio.html*/
/*Порфолио main */


.filters .button:hover,
.filters .button:focus {
background-color:var(--accent-color);
color: var(--white-color);
font-family: inherit;
}
.portfolio .title {
color:var(--title-text-color);
text-decoration: none;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.description {
text-decoration: none;
font-size: 18px;
line-height: 1.56;

}
.portfolio .text {
color: var(--primary-text-color);
text-decoration: none;
font-size: 16px;
line-height: 1.88;
}
.flex-container {
display: flex;
flex-wrap: wrap;
}
.flex-element {
width: 380px;
background-color:green;
margin-right: 30px;
margin-bottom: 30px;
}
.flex-element:nth-child(3n) {
margin-right: 0px;
}
.flex-element:nth-last-child(-n+3) {
margin-bottom: 0px;
}

.container{
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
/*outline: 1px solid blue;*/
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--primary-text-color);
}
________________________________
